name: import terraform

on: workflow_dispatch

jobs:
  import_terraform:
    name: Import Terraform
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./deployment/terraform
    steps:
      - name: Check out code
        uses: actions/checkout@v6
      - name: Auth gcloud
        uses: google-github-actions/auth@v3
        with:
          credentials_json: ${{ secrets.GCP_CREDENTIALS }}
      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
      - name: Setup Terraform Variables
        run: |-
          cat > pipeline.auto.tfvars <<EOF
          gcp_project_id                 = "${{ secrets.GCP_PROJECT_ID }}"
          gcp_region                     = "${{ secrets.GCP_REGION }}"
          gke_cluster_name               = "${{ secrets.GKE_CLUSTER_NAME }}"
          gke_location                   = "${{ secrets.GKE_LOCATION }}"
          gke_pool_name                  = "${{ secrets.GKE_POOL_NAME }}"
          gke_node_preemptible           = "${{ secrets.GKE_NODE_PREEMPTIBLE }}"
          gke_node_machine_type          = "${{ secrets.GKE_NODE_MACHINE_TYPE }}"
          gke_node_disk_size_gb          = "${{ secrets.GKE_NODE_DISK_SIZE_GB }}"
          gcr_image_name                 = "${{ secrets.GCR_HOSTNAME }}/${{ secrets.GCP_PROJECT_ID }}/shimakaze:${{ needs.publish_image.outputs.img_tag }}"
          gke_deployment_consumer_name   = "${{ secrets.GKE_DEPLOYMENT_CONSUMER_NAME }}"
          gke_cron_fill_name             = "${{ secrets.GKE_CRON_FILL_NAME }}"
          gke_cron_fill_schedule         = "${{ secrets.GKE_CRON_FILL_SCHEDULE }}"
          gke_cron_update_name           = "${{ secrets.GKE_CRON_UPDATE_NAME }}"
          gke_cron_update_schedule       = "${{ secrets.GKE_CRON_UPDATE_SCHEDULE }}"
          cloud_run_name                 = "${{ secrets.CLOUD_RUN_NAME }}"
          cloud_run_location             = "${{ secrets.CLOUD_RUN_LOCATION }}"
          shimakaze_cache_dialect        = "${{ secrets.SHIMAKAZE_CACHE_DIALECT }}"
          shimakaze_cache_address        = "${{ secrets.SHIMAKAZE_CACHE_ADDRESS }}"
          shimakaze_cache_password       = "${{ secrets.SHIMAKAZE_CACHE_PASSWORD }}"
          shimakaze_cache_time           = "${{ secrets.SHIMAKAZE_CACHE_TIME }}"
          shimakaze_db_address           = "${{ secrets.SHIMAKAZE_DB_ADDRESS }}"
          shimakaze_db_name              = "${{ secrets.SHIMAKAZE_DB_NAME }}"
          shimakaze_db_user              = "${{ secrets.SHIMAKAZE_DB_USER }}"
          shimakaze_db_password          = "${{ secrets.SHIMAKAZE_DB_PASSWORD }}"
          shimakaze_pubsub_dialect       = "${{ secrets.SHIMAKAZE_PUBSUB_DIALECT }}"
          shimakaze_pubsub_address       = "${{ secrets.SHIMAKAZE_PUBSUB_ADDRESS }}"
          shimakaze_pubsub_password      = "${{ secrets.SHIMAKAZE_PUBSUB_PASSWORD }}"
          shimakaze_cron_update_limit    = "${{ secrets.SHIMAKAZE_CRON_UPDATE_LIMIT }}"
          shimakaze_cron_fill_limit      = "${{ secrets.SHIMAKAZE_CRON_FILL_LIMIT }}"
          shimakaze_cron_agency_age      = "${{ secrets.SHIMAKAZE_CRON_AGENCY_AGE }}"
          shimakaze_cron_active_age      = "${{ secrets.SHIMAKAZE_CRON_ACTIVE_AGE }}"
          shimakaze_cron_retired_age     = "${{ secrets.SHIMAKAZE_CRON_RETIRED_AGE }}"
          shimakaze_youtube_key          = "${{ secrets.SHIMAKAZE_YOUTUBE_KEY }}"
          shimakaze_twitch_client_id     = "${{ secrets.SHIMAKAZE_TWITCH_CLIENT_ID }}"
          shimakaze_twitch_client_secret = "${{ secrets.SHIMAKAZE_TWITCH_CLIENT_SECRET }}"
          shimakaze_jwt_access_secret    = "${{ secrets.SHIMAKAZE_JWT_ACCESS_SECRET }}"
          shimakaze_jwt_access_expired   = "${{ secrets.SHIMAKAZE_JWT_ACCESS_EXPIRED }}"
          shimakaze_jwt_refresh_secret   = "${{ secrets.SHIMAKAZE_JWT_REFRESH_SECRET }}"
          shimakaze_jwt_refresh_expired  = "${{ secrets.SHIMAKAZE_JWT_REFRESH_EXPIRED }}"
          shimakaze_sso_client_id        = "${{ secrets.SHIMAKAZE_SSO_CLIENT_ID }}"
          shimakaze_sso_client_secret    = "${{ secrets.SHIMAKAZE_SSO_CLIENT_SECRET }}"
          shimakaze_sso_redirect_url     = "${{ secrets.SHIMAKAZE_SSO_REDIRECT_URL }}"
          shimakaze_log_json             = "${{ secrets.SHIMAKAZE_LOG_JSON }}"
          shimakaze_log_level            = "${{ secrets.SHIMAKAZE_LOG_LEVEL }}"
          shimakaze_newrelic_license_key = "${{ secrets.SHIMAKAZE_NEWRELIC_LICENSE_KEY }}"
          EOF
      - name: Init Terraform
        run: terraform init -backend-config "bucket=${{ secrets.GCS_BUCKET }}"
        env:
          GOOGLE_CREDENTIALS: ${{ secrets.GCP_CREDENTIALS }}
      - name: Import Terraform
        run: |
          terraform import -input=false google_container_cluster.cluster ${{ secrets.GCP_PROJECT_ID }}/${{ secrets.GKE_LOCATION }}/${{ secrets.GKE_CLUSTER_NAME }}
          terraform import -input=false google_container_node_pool.pool ${{ secrets.GCP_PROJECT_ID }}/${{ secrets.GKE_LOCATION }}/${{ secrets.GKE_CLUSTER_NAME }}/${{ secrets.GKE_POOL_NAME }}
          terraform import -input=false google_cloud_run_v2_service.server ${{ secrets.GCP_PROJECT_ID }}/${{ secrets.CLOUD_RUN_LOCATION }}/${{ secrets.CLOUD_RUN_NAME }}
          terraform import -input=false kubernetes_deployment.consumer default/${{ secrets.GKE_DEPLOYMENT_CONSUMER_NAME }}
          terraform import -input=false kubernetes_cron_job_v1.cron_fill default/${{ secrets.GKE_CRON_FILL_NAME }}
          terraform import -input=false kubernetes_cron_job_v1.cron_update default/${{ secrets.GKE_CRON_UPDATE_NAME }}
        env:
          GOOGLE_CREDENTIALS: ${{ secrets.GCP_CREDENTIALS }}